/* Import theme */
@import "theme/gnome-theme.css";

/* Import a custom stylesheet
 * Everything you add in your customChrome.css file (it doesn't exist by
 * default) will be included here and preserved between updates. 
 * You can apply your own custom styles in that file. */
@import "customChrome.css"; /**/

#TabsToolbar {
 display: none;
}

:root[tabsintitlebar] #titlebar .titlebar-button,
:root[tabsintitlebar][inFullscreen] #window-controls toolbarbutton {
 display: none !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-close,
:root[tabsintitlebar] #titlebar #titlebar-close {
 display: none !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-max,
:root[tabsintitlebar] #titlebar #titlebar-max {
 display: none !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-restore {
 display: none !important;
}
:root[tabsintitlebar] #titlebar .titlebar-buttonbox .titlebar-min,
:root[tabsintitlebar] #titlebar #titlebar-min {
 display: none !important;
}
:root[tabsintitlebar][inFullscreen] #window-controls #restore-button {
 display: none !important;
}
